<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body class="users">
<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <% users.forEach((user) =>{ %>
      <section>
        <a href="/<%= user._id %> ">
          <div style="background-image: url('<%= user.image %>');">
          </div>

          <img src="<%= user.image %> " alt="">
          
          <article>
            <h1><%= user.name %> </h1>
            <p>Leeftijd: <%= user.age %> </p>
          </article>

          <article>
            <p>Hulp:</p> 
            <ul>
              <% user.help.forEach((help)=> { %>
                  <li><%= help %> </li>
              <% }); %> 
            </ul>
          </article>
          
          <article>
            <p><%= oldTradesTitle %></p>
            <ul>
              <% user.oldTrades.forEach((oldTrade)=> { %>
                  <img src="/images/<%= oldTrade %>.png" alt="icon">
              <% }); %> 
            </ul>
          </article>
         
        </a>
      </section>
    <% }); %> 
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html> 